.visit__window {
  display: none;
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  .visit__window-container{
    width: 25rem;
    background-color: #fff;
    border-top: .25rem solid var(--second-color-text);
    border-radius: 5px;
    padding: 1.875rem 0 1.875rem 0;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
  }
  .icon-close {
    box-sizing: border-box;
    border: .0625rem solid var(--second-color-text);
    background-color: #fff;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    top: -0.625rem;
    right: -0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-xmark {
      display: block;
      padding: .1875rem;
      color: var(--second-color-text);
    }
  }
  .visit__form-title{
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: var(--base-letter-spacing);
    text-transform: uppercase;
    color: var(--second-color-text);
    margin-bottom: 1.25rem;
  }
  .visit__info-form {
    display: block;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .visit-info {
      background-color: lightgray;
      border: none;
      border-radius: .25rem;
      padding: .625rem;
    }
  }
  .btn-cover-case {
    text-align: center;
    .visit__create-btn,
    .visit__edit-btn {
      padding: 10px 20px;
      background-color: var(--second-color-text);
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 50%;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: var(--base-letter-spacing);
      font-weight: 700;
      // margin-top: 1.875rem;
    }
    .visit__create-btn:hover {
      background-color: #2b77bb;
    }
  }
}

.visit__edit-btn,
.visit__create-btn {
  margin: 0 auto;
}

.hidden {
  display: none;
}
